@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');



html,
body {
  height: 100vh;
  width: 100%;
  font-family: 'Poppins', 'Courier New', Courier, monospace;
  color: #222222;
  background-color: rgb(255, 255, 255);
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.nabar {
  padding: .8rem;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.2em !important;
}

.carousel-inner img {
  height: auto;
  width: 100vw;
}

.carousel-caption {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}

footer {
  flex-shrink: 0;
  background-color: rgb(50, 50, 50);
  padding: 0em;
  margin: 0em;
  font-size: 1em;
  color: rgb(255, 255, 255);
  font-variant: small-caps;
}

.social {
  font-size: 1.5em;
}

#clock {
  font-family: 'Share Tech Mono', monospace;
  color: rgb(50, 50, 50);
  text-align: center;
}

.time {
  letter-spacing: 0.05em;
  font-size: 5em;
  padding: 0.4em 0 0 0;
}

.date {
  letter-spacing: 0.1em;
  font-size: 2em;
  padding: 1em 0 0 0;
  margin: 1em;
}

#calendar {
  height: 100vh;
  width: 100%;
  text-align: center;
  color: #222222;
}

.popup-gallery img{
  height: 10em;
  width: 10em;
  margin: .2em;
}

.nav-link :hover {
  text-emphasis-color: rgb(0,0,0);
}


/*---Media Queries --*/
@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}